<h3>My Favorite breed: Golden Retriever </h3>


<label>Slika 1</label>
<img src="<%= dogs.message[9] %>" style="width:300px; height:200px">
<br>
<label>Slika 2</label>
<img src="<%= dogs.message[19] %>"  style="width:300px; height:200px">
<br>
<label>Slika 3</label>
<img src="<%= dogs.message[22] %>" >
