<!DOCTYPE html>
<html>
<head>
    
    <title>Page Title</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
    
</head>
<body>
    
    <div class="glaven">
        <div class="profileHolder">
   
        <h3>ERROR!!! - Nastanata e Greshka!</h3>
        </br>
        <button class="button" onclick="window.location='/register'" >Go to Register</button>
        

        </div>
    </div>
</body>
</html>