<!DOCTYPE html>
<html>
<head>
    
    <title>Page Title</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
  
</head>
<body>
    <div class="glaven">
        <div class="profileHolder">
            <h1>HOME PAGE</h1> <br>
            <button class="button" onclick="window.location='/register'">Sign Up</button> 
            <button class="button" onclick="window.location='/login'">Log In</button>
        </div>
    </div>
</body>
</html>