
<!DOCTYPE html>
<html>
<head>
   
    <title>Page Title</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
    
   
</head>
<body>

   <div class="glaven">
     <div class="profileHolder">
    <h1>SEKCIJA KNIGI</h1>
    <h3>Vashite Knigi se:</h3>
    <%for(let i=0; i < knigi.length; i++){%>
    <h3><%= knigi[i] %></h3>
        <%}%>
     </div>
    </div>
</body>
</html>




