<!DOCTYPE html>
<html>
<head>
    
    <title>Page Title</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
    
</head>
<body>
    
    <div class="glaven">
        <div class="profileHolder">
   
        <h3>Vie ste logirani so: <%= username.username %></h3>
        </br>
        <button class="button"><a href="/myBooks?id=<%= username.id %>">Vidi gi tvoite Knigi</a></button>
        

        </div>
    </div>
</body>
</html>