<!DOCTYPE html>
<html>
<head>
    
    <title>Page Title</title>
    
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
    
</head>
<body>

    <div class="glaven">
        <div class="formHolder">

                    <form class="form" method="POST" action="/register" >
                            <br>
                            <input id="username" type="text" name="username" placeholder="useraname" ><br>
                           
                            
                            <br>
                            <input id="email" type="email" name="email" placeholder="E-mail" ><br>
                            
                            <br> 
                            <input id="password" type="password" name="pass" placeholder="password" ><br>
                          
                
                            <br>
                            <input id="lista" type="text" name="lista" placeholder="Knigi so zapirka oddeleni" ><br>
                            <br>
                            <div class="btnHolder">
                                    <input id="submit" type="submit" name="Submit" value="Sign Up" >
                            </div>
                            <br>
                            
                    </form>
                 



        </div>
    </div>
    
</body>

</html>