<!DOCTYPE html>
<html>
<head>
    
    <title>Page Title</title>
    
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
    
</head>
<body>

    <div class="glaven">
        <div class="formHolder">

                    <form action="#"  method="post" >
                            <br> 
                            <input id="username" type="text" name="username" placeholder="useraname" ><br>
                            <label for="username"></label>
                            <br>
                            <input id="email" type="text" name="email" placeholder="E-mail" ><br>
                            <label for="email"></label>
                            <br> 
                            <input id="password" type="password" name="psw" placeholder="password" ><br>
                            <label for="password"></label>
                            <br> 
                            
                            <br>
                            <div class="btnHolder">
                                    <input id="submit" type="submit" name="Submit" value="Log in" >
                            </div>
                            
                    </form>
                 



        </div>
    </div>
    
</body>

</html>